/*table, th, td {*/
    /*border: 1px solid black;*/
/*}*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --background-color:#000;
    --header-background-color:#ddd;
    --header-text-color:#000;
    --header-spacing:5px;
    --header-spacing-color:#000;
    --header-height:50px;
    --header-cell-padding:1vw;
    --row-background-color:#aaa;
    --row-background-color2:#bbb;
    --row-height:30px;
    --row-spacing:2px;
    --row-cell-padding:1vw;
    --row-spacing-color:#000;
    --row-text-color:#222;
    --row-text-color2:#555;
    --column-spacing:2px;
    --column-spacing-color:#000;
}

body{
    overflow: hidden;
    background-color: var(--background-color);
    font-family: 'Roboto';
    display: flex;
    height: 100vh;
}

.table{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 56.25vw;
    overflow: hidden;;
}

.table .table-header{
    display: flex;
    flex-direction: row;
    background-color: var(--header-background-color);
    border-bottom: var(--header-spacing) solid var(--header-spacing-color);
    height: var(--header-height);
    flex:0 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
    z-index: 1;
}

.table .table-header .table-header-cell{
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    color:var(--header-text-color);
    height: 100%;
    position: relative;
}

.table .table-header .table-header-cell label {
    width: 100%;
    text-overflow: ellipsis;
    position: absolute;
    overflow: hidden;
    padding: 0 var(--row-cell-padding);
    white-space: pre;
    font-weight: 700;

}

.table .table-header .table-header-cell:not(:last-child){
    border-right: var(--column-spacing) solid var(--column-spacing-color);
}

.table .table-body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.table .table-body .table-body-row{
    display: flex;
    flex-direction: row;
    background: var(--row-background-color);
    border-bottom: var(--row-spacing) solid var(--row-spacing-color);
    height: var(--row-height);
    flex:0 0;
}

.table .table-body .table-body-row:nth-child(even){
    background: var(--row-background-color2);
}

.table .table-body .table-body-row:nth-child(even) .table-body-row-cell{
    color:var(--row-text-color2);
}

.table .table-body .table-body-row .table-body-row-cell{
    display: flex;
    align-items: center;
    flex: 1 1 auto;
    color:var(--row-text-color);
    height: 100%;
    position: relative;
}

.table .table-body .table-body-row .table-body-row-cell:not(:last-child){
    border-right: var(--column-spacing) solid var(--column-spacing-color);
}

.table .table-body .table-body-row .table-body-row-cell label {
    width: 100%;
    text-overflow: ellipsis;
    position: absolute;
    overflow: hidden;
    padding: 0 var(--row-cell-padding);
    white-space: pre;
}
