<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet" href="css/controller.css" />-->
    <link rel="stylesheet" href="https://unpkg.com/vff-controllers/dist/vff-controller/vff-controller.css"/>
    <link rel="stylesheet" href="css/controller.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" onerror="fallback('../libs/fontawesome/css/font-awesome.min.css')">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <!--<script src="http://localhost:8081/vff.js"></script>-->
    <script src="https://unpkg.com/vff@1"></script>
    <script type="module" src="https://unpkg.com/vff-controllers/dist/vff-controller/vff-controller.esm.js"></script>
    <script src="js/controller.js"></script>
    <script nomodule="" src="https://unpkg.com/vff-controllers/dist/vff-controller/vff-controller.js"></script>
    <!--<script src="https://vff-octopus.web.app/build/vff-octopus.js"></script>-->
</head>

<body vff-controller ng-app="app" ng-controller="ctrl">
    <vff-tabs default="table">
        <vff-tab for="table">Data</vff-tab>
        <vff-tab for="style">Style</vff-tab>
    </vff-tabs>
    <div id="table" class="ctrl-container">
        <div class="ctrl-container-row">
            <table>
                <thead>
                    <tr>
                        <th ng-repeat="col in tableData.columns track by $index" style="text-align:center; background:transparent;">
                            <a class="table-action delete-row" ng-click="removeColumn($index)"><i class="fa fa-times" aria-hidden="true"></i></a>
                        </th>
                        <th style="width:25px;background:transparent;"></th>
                    </tr>
                    <tr>
                        <th ng-repeat="col in tableData.columns track by $index">
                            <input type="text" vff-data="table.columns[{{$index}}]" value="{{col}}"/>
                        </th>
                        <th style="text-align:center; background:transparent;"><a class="table-action add-column" ng-click="addColumn()"><i class="fa fa-plus" aria-hidden="true"></i></a></th>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in tableData.rows">
                    <td ng-repeat="col in tableData.columns track by $index">
                        <input type="text" vff-data="table.rows.{{$parent.$index}}.{{$index}}"  ng-model="row[$index]">
                    </td>
                    <td style="text-align:center; background:transparent;">
                        <a class="table-action delete-row" ng-click="removeRow($index)"><i class="fa fa-times" aria-hidden="true"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="ctrl-container-row">
            <a class="table-action add-row" ng-click="addRow()"><i class="fa fa-plus" aria-hidden="true"></i><span>Add Row</span></a>
        </div>
    </div>
    <div id="style" class="ctrl-container">
        <div class="ctrl-container-row">
            <label>Background Color</label>
            <input type="color" value="#ffffff" vff-style="backgroundColor"/>
        </div>
        <div class="ctrl-container-row">
            <label>Text Size</label>
            <input type="range" min="10" max="20" step="1" vff-style="fontSize" vff-suffix="px"/>
        </div>
        <h2>Header</h2>
        <div class="ctrl-container-row">
            <label>BG Color</label>
            <input type="color" value="#354A5F" vff-style="headerBackgroundColor"/>
            <label>Text Color</label>
            <input type="color" value="#ffffff" vff-style="headerTextColor"/>
        </div>
        <div class="ctrl-container-row">
            <label>Bottom Spacing</label>
            <input type="range" min="0" max="10" step="1" value="0" vff-style="headerSpacing" vff-suffix="px"/>
            <label>Bottom Spacing Color</label>
            <input type="color" vff-style="headerSpacingColor"/>
        </div>
        <div class="ctrl-container-row">
            <label>Bottom Shadow Opacity</label>
            <input type="range" min="0" max="1" step="0.01" value="0.5" vff-style="headerShadowOpacity"/>
        </div>
        <h2>Rows</h2>
        <div class="ctrl-container-row">
            <label>BG Color A</label>
            <input type="color" value="#ffffff" vff-style="rowBackgroundColor"/>
            <label>BG Color B</label>
            <input type="color" value="#fafafa" vff-style="rowBackgroundColor2"/>
        </div>
        <div class="ctrl-container-row">
            <label>Text Color A</label>
            <input type="color"  vff-style="rowTextColor"/>
            <label>Text Color B</label>
            <input type="color" vff-style="rowTextColor2"/>
        </div>
        <h2>Cells Spacing</h2>
        <div class="ctrl-container-row">
            <label>Vertical Spacing</label>
            <input type="range" min="0" max="10" step="1" value="0" vff-style="columnSpacing" vff-suffix="px"/>
            <label>Vertical Spacing Color</label>
            <input type="color" vff-style="columnSpacingColor"/>
        </div>
        <div class="ctrl-container-row">
            <label>Horizontal Spacing</label>
            <input type="range" min="0" max="10" step="1" value="1" vff-style="rowSpacing" vff-suffix="px"/>
            <label>Vertical Spacing Color</label>
            <input type="color" value="#eeeeee" vff-style="rowSpacingColor"/>
        </div>
    </div>
</body>
</html>