<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <script src="http://localhost:8081/vff.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/script.js"></script>
    <link rel="stylesheet" href="css/style.css">

    <title>Videoflow Overlay</title>
</head>

<body ng-app="app" ng-controller="ctrl">

    <table>
        <thead>
        <tr>
            <th ng-repeat="col in columns track by $index">{{col}}</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rows track by $index">
            <td ng-repeat="(key, value) in row track by $index">
                {{value}}
            </td>
        </tr>
        </tbody>
    </table>
</body>

</html>