<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <!--<script src="http://localhost:8081/vff.js"></script>-->
    <script src="https://unpkg.com/vff@1"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="js/script.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">

    <title>Videoflow Overlay</title>
</head>

<body ng-app="app" ng-controller="ctrl" ng-class="{mobile:isMobile}">
    <div class="table">
        <div class="table-header">
            <div class="table-header-cell" ng-repeat="col in columns track by $index">
                <label>{{col}}</label>
            </div>
        </div>
        <div class="table-body">
            <div class="table-body-row" ng-repeat="row in rows track by $index">
                <div class="table-body-row-cell" ng-repeat="(key, value) in row track by $index">
                    <label>{{value}}</label>
                </div>
            </div>
        </div>
    </div>
</body>

</html>